.nav-body {
  display: flex;
}

.connect-btn {
  /* width: 30%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid rgba(254, 254, 254, 0.664);
}

@media screen and (max-width: 820px) {
  .hide {
    display: none;
  }

  .connect-btn{
   position: absolute;
   bottom: 0;
   left: 1%;
  }
}
